@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --beige: #F7F5E6;
  --light-green: #CED8BF;
  --medium-green: #91AD8F;
  --dark-green: #50745E;
  --brown: #865652;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
